@model MvcApplication2.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script>
    var index = 0;
    function addEmailField() {
        $("#email_area").append('<input type="text" name="Email[' + index + '].Value"><br/>');
        index++;
    }
</script>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div id="email_area">
            <p><input type="button" onclick="addEmailField()" value="增加Email欄位"></p>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
